<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="/css/login_reset.css">
    <link rel="stylesheet" type="text/css" href="/css//shop/home.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style type="text/css"> 
.remark  
{  
  width:20rem;  
  height:30px;  
  border:2px solid red;   /* 边框宽度为3px */  
  position:absolute;
  margin-top: 5px; 
}  
.sp1,.sp2  
{  
  display:block;  
  height:0px;  
  width:0px;  
  position:absolute; 
  font-size:0;  
  line-height:0;  
}  
.sp1  
{  
  top:-8px;    /* 它的绝对值加上span的边框宽度等于div边框宽度的5倍 */  
  left:25px;   /* 它来确定尖角的位置 */  
  border-top:0px;  
  border-bottom:6px solid red;  /* 注意颜色的变化 */  
  border-right:6px solid white;  
  border-left:6px solid white;  
}  
.sp2  
{  
  top:6px;  /* 是自身边框宽度的2倍 */  
  left:-3px; /* 是自身边框宽度的-1倍  */  
  border-top:0px;  
  border-bottom:3px solid white;  
  border-right:3px solid red;  
  border-left:3px solid red;  
}  
  
</style>  
</head>
<body>
<div id="content">
	<div id="content_left">
		<div class="head_img">
			{% if user.url is not empty%}
                                <img src="{{url}}" alt=""/>
                        {% else %}
                                <img src="/images/shop/logo.png"/>
                        {% endif %}
			<h2>{{ username }}</h2>	
		</div>
		<div class="account">
			<h3><img src="/images/shop/account.png" />账户余额</h3>
			<p><span>{{ total  }}</span>&nbsp;<em>元</em></p>
		</div>
		<div class="order_center">
			<ul>
				<li><a href="/site/index.html"><img src="/images/shop/order_home.png"/><p>&nbsp;抢单大厅</p></a></li>
				<li><a href="/order/index.html" style="background:#E4461C"><img src="/images/shop/my_order.png"/><p>&nbsp;我的订单</p></a></li>
				<li><a href="/order/detail.html"><img src="/images/shop/balance.png"/><p>&nbsp;余额明细</p></a></li>
				<li><a href="javascript:void(0);" class="shop_info"><img src="/images/shop/pwd.png"/><p>&nbsp;信息</p></a></li>
				<li style="margin-top:0rem;display:none;" class="info_list">
                                        <a href="/shop/info.html" style="font-size:1rem;height:3rem;line-height:3rem;text-indent:-5rem;text-decoration:none;" >商家信息</a>
                                        <a href="/password/index.html" style="font-size:1rem;height:3rem;line-height:3rem;text-indent:3rem;text-decoration:none;">修改密码</a>
                                </li>

			</ul>
		</div>		


	</div>

	<div id="content_right">
		<div class="right_top">
			<img src="/images/shop/top-logo.jpg" />
			<p><span>商务热线：<em>400-186-1314</em></span></p>
			<form action="/site/logout.html" method="post">
				<input type="hidden" name="_csrf-frontend" value=""><button type="submit" class="logout">退出系统 </button>
			</form>
		</div>
		<div class="rule">
			<div class="rule_des">
				<h2>抢单规则</h2>
				<p>1.成功抢单，每单<span>预扣100元</span></p>
				<p>2.未成交的订单<span>返回50元</span></p>
				<p>3.成交后将在余额内扣取5%的订单金额</p>
			</div>
		</div>
		<div class="table-b"> 
			<table class="table table-hover" width="100%" border="1" cellspacing="2" cellpadding="1" style="border:solid 2px #add9c0;"> 
				<tr> 
					<td width="" style="font-size:1rem;font-weight:bold;">日期</td> 
					<td style="font-size:1rem;font-weight:bold;">订单号</td>
					<td width="" style="font-size:1rem;font-weight:bold;">称谓</td> 
					<td width="" style="font-size:1rem;font-weight:bold;">联系方式</td> 
					<td width="" style="font-size:1rem;font-weight:bold;">备注</td> 
					<td width="" style="font-size:1rem;font-weight:bold;">订单状态</td>
					<td width="" style="font-size:1rem;font-weight:bold;">订单金额</td>
					<td width="" style="font-size:1rem;font-weight:bold;">佣金</td>
					<td width="" style="font-size:1rem;font-weight:bold;">图片</td>
					<td width="" style="font-size:1rem;font-weight:bold;">附件</td>
				</tr>
				{% for k,v in data%} 
				<tr> 
					<td>{{ v.created }}</td> 
					<td>{{ v.id }}</td> 
					<td>{{ v.username }}</td> 
					<td>{{ v.phone }}</td>
					<td class="remark_des">
						<a href="javascript:void(0);" class="order_remark" style="color:red;text-decoration:none">订单备注</a>
						<p style="display:none" class="remark">
							<span class="remark_content"></span>
							<span class="sp1">  
								<span class="sp2"></span> 
							</span>  
						</p>
						<input type="hidden" value="{{ v.uid }}"/>
					</td>
					{% if v.status == 0 %}
						<td style="color:blue">洽谈中</td>
					{% elseif v.status == 2 %}
						<td style="color:red">未签约</td>
					{% elseif v.status == 1 %}
						<td style="color:green">已签约</td>
					{% endif %}
					<td>{{ v.price }}</td>
					<td>{{ v.commission }}</td>
					{% if v.url is not empty %}
						<td><a href="{{staticUrl}}{{ v.url }}" target="_blank"><img src="{{staticUrl}}{{ v.url }}" style="height:5rem;width:5rem;" /></a></td>
					{% else %}
						 <td></td>
					{% endif %}
					<td><a href="/upload/image.html?id={{v.id}}">上传</a></td>
				</tr> 
				{% endfor %}
			</table>
			<div class="page">{{ page|raw }}</div>
		</div>
	</div>

</div>
<script src="/js/jQuery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/home.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('.order_remark').click(function(){
			$(this).parents('.table .remark_des').find('.remark').toggle();
			var id = $(this).parents('.table .remark_des').find('input').val();
			mythis = $(this);
			$.ajax({
                               type:'POST',
                               cache:false,
                               url:'/order/remark.html?id='+id,
                               data:"",
                               dataType:'json',
                               success:function(data){
					console.log(data); 
					mythis.parents('.table .remark_des').find('.remark_content').html(data);                                                                                                       
                               },
                               error:function(){
                
                               }
                       });

		});
	});

</script>

</body>
</html>

