{% set sidebar_name = "添加" %}
{% set menu_name = "customer" %}
{% include "@app/views/layouts/header.twig" %}
{% block content %}
<div class="content">
{% if isNew == true %}
    <h3>添加客户信息</h3>
{% else %}
    <h3>编辑客户信息</h3>
{% endif %}
    {% set form = form_begin({'id':'create-form','layout':'horizontal','options':{'enctype':'multipart/form-data'}}) %}
    <div id="uploads" class="form-group ">
        {{ form.field(model, 'username')|raw }}
        {{ form.field(model, 'phone')|raw }}
	{{ form.field(model, 'time')|raw }}
    </div>
    <div class="form-group ">
        <label for="dailylesson-params" class="control-label col-sm-3"></label>
        <div class="col-sm-6">
            <input type='submit' value='提交' class='btn btn-large btn-primary' />
        </div>
    </div>
    {{ void(form.end()) }}

{% if isNew == true %}
   {{
    widget('\\yii\\grid\\GridView', {
    'filterModel':model,
    'dataProvider':dataProvider,
    'columns':{
    1:'username',
    2:'phone',
    3:'time',
    7:'created',
    4:{
    'class':'\\common\\extensions\\Grid\\CustomerGridActionColumn',
    'template':'{update-falsecustomer}{delete-falsecustomer}',
    'header':'操作',
    },
    }})

    }}

{% endif %}

</div>
{% endblock %}

